*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* border: 1px solid black; */
    display: flex;
    position: static;
    font-family: 'Playfair Display', serif;
    flex-direction: row;  /* Chrome 10-25, Safari 5.1-6 */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    /* margin-top: 15px; */
    justify-content: space-around;
}
.logo{
    /* border: 1px solid black; */
    margin-top: 8px;
}
.divmenu{
    border: 1px solid white;
    position: relative;
    width: 600px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.Search{
    position: absolute;
    margin-top: 8px;
    color: white;
    margin-left: 8px;
}
.divmenu input{
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: white;
    font-size: 20px;
    outline: none;
    padding: 0 0 0 40px;
    border: none;
    background: none;
}
.divmenu select{
    position: absolute;
    /* right: 0.2px; */
    right: 1px;
    top: 0px;
    padding: 0 25px 0 0;
    font-size: 14px;
    width: 150px;
    height: 42px;
    border-right: 20px;
}
.used{
    /* border: 1px solid black; */
    width: 150px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bag, .user{
    /* border: 1px solid black; */
    text-decoration: none;
    width: 50px;
    background: #f6f6f6;
    border-radius: 50%;
}
.bag{
    position: relative;  
}
#cartItem{
    position: absolute;
    margin-top: -40px;
    /* border: 1px solid black; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 35px;
    background: red;
    opacity: 0.8;
}
#cartItem p{
    margin-top: 01px;
    font-size: 12px;
}
.icon{
    margin-left: 13px;
    margin-top: 6px;
}
.divmenu:hover{
    border: 2px solid rgb(224, 215, 215);
}